/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.cabecalho{
    
width: 530px;
height: 39.15px;
top: 31px;
margin-left: 73px;
margin-top: 31px;
margin-right: 100px;


}
.menu{
    justify-content: space-around;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    color: white;
    margin-right: 73px;
    
}
.chap{
    width: 70px;
    height: 39.15px;
    top: 31px;
    left: 73px;
    gap: 0px;
    opacity: 0px;
}
body{
    background-image: url("fotos/fundo.png");
    background-size: cover;
    height:100vh ;
}

.redes-s{
    background-color: red;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 1300px;
    margin-top: -31px;
}
.mario{
    
    margin-right: 87px;
    margin-bottom: 144px;
    
    
}

.letreiro{
   margin-left: 73px;
   margin-top: 144px;
   width: 474px; 
   height: 463px;
   border-radius: 4px;
   border-color: red;

}
.texto{
    font-family: poppins;
    color: white;
    letter-spacing: 1px;
    text-align: justify;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    
    
}
.botoes{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
.botao-assistir{
    display: flex;
    background-color: #AB2323;
    font-family: 'poppins';
    font-size: 15px;
    color: white;
    width: 400px;
    height: 50px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    
}
.botao-comprar{
    border: 1px solid #14531E;
    font-family: poppins;
    font-size: 15px;
    text-decoration: none;
    color: white;
    width: 400px;
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}





